{{!-- vim: set filetype=html: --}}
<optgroup label='Engineering'>
  <option value='1'>Full Stack Engineer</option>
  <option value='2'>Mobile Engineer</option>
  <option value='3'>DevOps Engineer</option>
  <option value='4'>Front End Engineer</option>
  <option value='5'>Back End Engineer</option>
</optgroup>
<optgroup label='Design'>
  <option value='6'>UI/UX Designer</option>
  <option value='7'>Product Designer</option>
</optgroup>
<optgroup label='Management'>
  <option value='8'>Project Manager</option>
  <option value='9'>Community Manager</option>
</optgroup>
<optgroup label='Sales/Marketing'>
  <option value='10'>Marketing Specialist</option>
  <option value='11'>Sales Specialist</option>
</optgroup>
