<section class='page'>
  <div class='wrapper'>
    <h1>For Companies</h1>
    <h4 class='subtitle'>Looking get hired? <a href='/candidates'>Sign up as a candidate</a>.</h4>

    <form>
      <label>A few quick questions</label>
      <input placeholder='Your Name' type='text' tabindex='1' name='name' maxlength='50' required>
      <input placeholder='Your Email' type='email' tabindex='2' name='email' required>
      <input placeholder='Your Website' type='url' tabindex='3' name='website' required>

      <label>Link to your Logo</label>
      <input placeholder='Your Logo (dropbox or other link, svg preferred)' type='url' tabindex='4' name='logo' required>

      <label>Positions Needed</label>
      <div class='checkboxes'>
        <span><input type='checkbox' name='roles[]' value='1' tabindex='5'> Full-Stack Engineer</span>
        <span><input type='checkbox' name='roles[]' value='2' tabindex='7'> Designer</span>
        <span><input type='checkbox' name='roles[]' value='3' tabindex='6'> Front-End Engineer</span>
        <span><input type='checkbox' name='roles[]' value='4' tabindex='8'> Back-End Engineer</span>
      </div>

      <button tabindex='9'>Submit Application</button>
    </form>
  </div>
</section>

<section class='success'>
  <div class='wrapper'>
  <h1>You're good to go, <span class='name-tpl'></span>!</h1>
  <div class='message'>
    <p>
      <b>Your company has been added to the queue!</b><br />
      You will now receieve notifications when candidates apply.
    </p>
    <hr />
    <p>
      <b>When should I expect to see candidates?</b><br />
      You will recieve one email a day with new candidates matching the roles you are looking for.
    </p>
    <p>
      <b>What's the next step?</b><br />
      That's entirely up to you! If you like a candidate you can get in touch with them via their email.
    </p>
    <p>
      <b>Is Vegas really that awesome?</b><br />
      Well duh! You're here, aren't you?!
    </p>
  </div>
  </div>
</section>
