{{!-- vim: set filetype=html: --}}
<section id='how-it-works'>
  <div class='wrapper'>
    <h1>How it Works</h1>
    <div class='steps'>
      <div class='step'>
        <span class='icon'></span>
        <p>Candidates answer a few questions and provide their resume.</p>
      </div>
      <span class='icon next'></span>
      <div class='step'>
        <span class='icon'></span>
        <p>Companies recieve an email once a day
with new candidates.</p>
      </div>
      <span class='icon next'></span>
      <div class='step'>
        <span class='icon'></span>
        <p>Companies reach out to the candidates
they're interested in.&nbsp;</p>
      </div>
    </div>
  </div>
</section>


<section id='why-vegas'>
  <div class='wrapper'>
    <h1>Why Vegas?</h1>
    <div class='video'><iframe src='https://player.vimeo.com/video/108006771?color=337b9c&title=0&byline=0&portrait=0' width='960' height='540' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    <p>Video made by the great <a href='http://capturetheworld.com.au/'>Capture the World</a> project.</p>
  </div>
</section>

<section id='company-list'>
  <div class='wrapper'>
    <h1>Company List</h1>
    <div class='companies'>
      <!-- company logos go here -->
    </div>
    <a class='sign-up' href='#'>Sign up now! &nbsp;<span></span></a>
  </div>
</section>


<section id='faqs'>
  <div class='wrapper'>
    <h1>FAQs</h1>
    <ul class="faqs">
      <li>
        <h2>Does using Apply to Vegas guarantee me a job?</h2>
        <p>No, but it will give you the opportunity to been seen by all our partner companies.</p>
      </li>
      <li>
        <h2>Are recruiters allowed to sign up as a company?</h2>
        <p>No. We will be watching.</p>
      </li>
    </ul>
  </div>
</section>
