<section id='how-it-works'>
  <div class='wrapper'>
    <h1>How it Works</h1>
    <div class='steps'>
      <div class='step'>
        <span class='icon'></span>
        <p>Candidates answer a few <br /> questions and provide their resume.</p>
      </div>
      <span class='icon next'></span>
      <div class='step'>
        <span class='icon'></span>
        <p>Companies recieve an email <br /> once a day with new candidates.</p>
      </div>
      <span class='icon next'></span>
      <div class='step'>
        <span class='icon'></span>
        <p>Companies reach out to the candidates they're interested in.</p>
      </div>
    </div>
  </div>
</section>


<section id='why-vegas'>
  <div class='wrapper'>
    <h1>Why Vegas?</h1>
    <div class='video'>
      <img src='images/video-cover.jpg' />
      <script type='x-video'>
        <iframe src='https://player.vimeo.com/video/84776394?color=232323&amp;title=0&amp;byline=0&amp;autoplay=1'
          allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder='0'><\/iframe>
      </script>
    </div>
    <h3>Watch &amp; Find Out!</h3>
  </div>
</section>

<section id='company-list'>
  <div class='wrapper'>
    <h1>Company List</h1>
    <div class='companies'>
      <!-- company logos go here -->
    </div>
    <a class='sign-up' href='#'>Sign up now! &nbsp;<span></span></a>
  </div>
</section>


<section id='faqs'>
  <div class='wrapper'>
    <h1>FAQs</h1>
    <ul class="faqs">
      <li>
        <h2>My job position isn't listed!</h2>
        <p>
          Whoops, sorry about that! We need your feedback on what positions we
          should list - so please <a href='mailto:applytovegas [at] gmail.com'>
          get in touch</a> with your suggestions! Keep in mind, however, that we
          are purposefully keeping the positions somewhat generalized in order to
          simplify the process and present the widest range of opportunities.
        </p>
      <li>
        <h2>Does using Apply to Vegas guarantee me a job?</h2>
        <p>
          Sorry, unfortunately we can't guarantee you a job.
          But we can show your info to a bunch of cool local companies and wish
          you the best!
        </p>
      </li>
      <li>
        <h2>Are recruiting agencies allowed to join?</h2>
        <p>
          No, we only allow local companies that are hiring for themselves.
          We want our candidates to be contacted directly by the companies that
          are geniuely interested in hiring them.
        </p>
      </li>
      <li>
        <h2>Is every company that signs up accepted?</h2>
        <p>
          In general, yes - provided they are a tech based company and have a
          presence in Vegas. We want to give our candidates access to as many
          companies as possible! That said, we do moderate company applications
          to make sure we list only high quality, reputable companies.
          <br /><br />
          If you've been contacted by a company that you think isn't a good
          representative of the Vegas tech community, please
          <a href='mailto:applytovegas [at] gmail.com'>let us know</a>.
        </p>
      </li>
      <li>
        <h2>Are you just in Vegas?</h2>
        <p>
          Yep! Our primary goal is to help grow the awesome Vegas tech community!
          <br /><br />
          If snow is more your thing, though, you should totally check out
          <a href='https://applytoboulder.com'>Apply to Boulder</a>.
          They're pretty rad!
        </p>
      </li>
      <li>
        <h2>My question is not in the FAQs!</h2>
        <p>
          Ahh, sorry about that! Always kind of hard to guess what questions
          might be frequently asked! But don't panic - just shoot us an
          <a href='mailto:applytovegas [at] gmail.com'>email</a>
          or a <a href='https://twitter.com/applytovegas'>tweet</a> and we'll
          get you squared away.
        </p>
      </li>
    </ul>
  </div>
</section>
