<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='initial-scale=1.0'>
  <title>Apply to Vegas</title>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:300,400'>
  <link rel='stylesheet' href='css/standardize.css'>
  <link rel='stylesheet' href='css/style.css'>
</head>
<body>

<header>
  <div class='wrapper'>
    <div class='navbar'>
      <a href='/' class='logo'><img src='images/logo.svg'></a>
      <nav>
        <a href='/#how-it-works'>How it Works</a>
        <a href='/#why-vegas'>Why Vegas</a>
        <a href='/#company-list'>Company List</a>
        <a href='/#faqs'>FAQ</a>
      </nav>
    </div>
    <h1>Connecting tech talent &amp; companies in Vegas</h1>
    <h3>Apply to the best local companies with just a click.</h3>
    <div class='finder'>
      <div class='find'>
        <h2>Find your next job</h2>
        <div class='choice'>
          <p>You are a...</p>
          <select class='roles' data-for='candidates'>
            <option value='' disabled selected style='display:none'>Designer</option>
            <option value='2'>Designer</option>
            <option value='1'>Full-Stack Developer</option>
          </select>
        </div>
      </div>
      <div class='find'>
        <h2>Find your next hire</h2>
        <div class='choice'>
          <p>You need a...</p>
          <select class='roles' data-for='companies'>
            <option value='' disabled selected style='display:none'>Full-Stack Developer</option>
            <option value='1'>Full-Stack Developer</option>
            <option value='2'>Designer</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</header>

{{{ body }}}

<footer>
  <div class='wrapper'>
    <div class='about'>
      <p>Get in touch: &nbsp;<a>Twitter</a>&nbsp; or &nbsp;<a>Email.</a></p>
      <p>Made by <a href='//twitter.com/zpnk'>@zpnk</a> for <a>#VegasTech</a>. Free &amp; <a>open source</a>.</p>
    </div>
    <img class='logo' src='images/logo-blue.svg'>
  </div>
</footer>

</body>
</html>
