{{!-- vim: set filetype=html: --}}
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{{title}}}Apply to Vegas</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400'>
  <link rel='stylesheet' href='css/standardize.css'>
  <link rel='stylesheet' href='css/style.css'>
</head>
<body>

<header>
  <div class='wrapper'>
    <div class='navbar'>
      <a href='/' class='logo'><img src='images/logo.svg'></a>
      <nav>
        <a href='/#how-it-works'>How it Works</a>
        <a href='/#why-vegas'>Why Vegas</a>
        <a href='/#company-list'>Company List</a>
        <a href='/#faqs'>FAQ</a>
      </nav>
    </div>
    {{#if fullHeader}}
    <h1>Connecting tech talent &amp; companies in Vegas</h1>
    <h3>Apply to the best local companies with just a click.</h3>
    <div class='finder'>
      <div class='find'>
        <h2>Find your next job</h2>
        <div class='choice'>
          <p>You are a...</p>
          <select class='roles' data-for='candidates'>
            <option value='' disabled selected style='display:none'>UI/UX Designer</option>
            {{> role_options}}
          </select>
        </div>
      </div>
      <div class='find'>
        <h2>Find your next hire</h2>
        <div class='choice'>
          <p>You need a...</p>
          <select class='roles' data-for='companies'>
            <option value='' disabled selected style='display:none'>DevOps Engineer</option>
            {{> role_options}}
          </select>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</header>

{{{ body }}}

<footer>
  <div class='wrapper'>
    <div class='about'>
      <p>
        Connect:
        <a href='https://twitter.com/applytovegas'>Twitter</a> /
        <a href='mailto:applytovegas [at] gmail.com'>Email.</a>
      </p>
      <p>
        Made by <a href='https://twitter.com/zpnk'>@zpnk</a> for
        <a href='https://twitter.com/search?q=%23vegastech&amp;f=tweets'>#VegasTech</a>.
        Free &amp; <a href='https://github.com/zpnk/applytovegas'>open source</a>.
      </p>
    </div>
    <img class='logo' src='images/logo-blue.svg'>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src='js/site.js'></script>
</body>
</html>
